
/* Navber */
#navbar {
  visibility: hidden;
}

/* Platoon request form */ 
#block-wot-teammate-platoon-request {
  background: #e7e7e7;
  padding: 1em;
  border: 1px solid gainsboro;
  border-radius: 5px;
  
  #edit-tank-definition-wrapper {
    margin-top: 0px; 
    margin-bottom: 0px; 
  }
  #buttons-wrapper {
    clear: left;
    .btn {
      width: 15em;
      margin-right: 1em;
    }
  }
  
  .form-item {
    float: left;  
    margin-right: 1em;  
  
    #edit-age, .form-select {
      width: 8em;      
    }
  }  
}

.platoon-request-status {
  font-weight: bold;
  text-align: center;
  width: 31em;
  border: solid 2px;
  padding: 0.75em;
  border-radius: 8px;
  margin-bottom: 0.75em;
  background-color: whitesmoke;
  &.unactive {
    color: darkred;
    border-color: red;
  }
  &.active {
    color: darkgreen;
    border-color: green;
  }
}

/* WoT login block */
#block-wot-api-login form {
  margin-top: 2em;
  margin-bottom: 20%;
  .btn {
    font-size: 3em;
    margin: auto;
    display: block;
    padding: 0.5em;
    border-radius: 0.3em;
  }
  
  .about_wargaming_id {
    width: 490px;
    margin: auto;
    margin-top: 20px;
    .wargaming-id-icon {
      float: left;
      margin-right: 25px;
    }
    .wargaming-id-desc {
      padding-top: 10px;
    }
  }
}

/* Share This widget */
.header-share-widget,
#block-sharethis-sharethis-block {
  margin-top: 20px;
  .sharethis-wrapper {
    span.stMainServices {
      height: 30px;
    }
    .st_fblike_button {
      position: relative;
      top: -10px;
    }
  }  
}

.header-share-widget {
  float: right;
}

/* 3 steps block */
html, body {
  overflow-x: hidden;
}

.intro-3-steps {
  position: relative;
  background: #47a447; 
  color: #fff;
  padding-top: 1.5em;
  padding-bottom: 1em;
  margin-bottom: 2.5em;
  font-size: 1.3em;
  color: #fff;
  &:before, &:after {
    content: "";
    position: absolute;
    background: #47a447;  /* Match the background */
    top: 0;
    bottom: 0;
    width: 9999px;   /* some huge width */
  }
  &:before {
    right: 100%; 
  }
  &:after {
    left: 100%;
  }
}

